@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inconsolata&family=Lugrasimo&family=Montserrat:wght@100;400&family=Open+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Roboto&family=Satisfy&display=swap");
*{
  font-family: "Roboto";
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  width: 100%;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.inscription,
.connexion {
  width: 100%;
  height: 100vh;
  background-image: url("../src/assets/images/imagedefond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .inscription::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #494c4f57;
  mix-blend-mode: multiply;
  opacity: 1;
  z-index: 1;
} */

.inscription .logoIns,
.connexion .logoIns {
  width: 50px;
  height: 50px;
}

/*----------------------Formulaire css------------------*/
.inscription .bouton,
.connexion .bouton, .hotels .modalform .bouton {
  border-radius: 5.333px;
  background: #474a4d;
  border: none;
}

.custom-upload-button .p-button.p-fileupload-choose{
  width: 100% !important;
  background-color: transparent;
  border: 1px solid #0CC2AA;
  color: #0CC2AA;
  padding-top: 10% !important;
  padding-bottom: 10% !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;;
}
.pi-image:before{
  font-size: 4rem !important;
}

.hotels .bouton:focus{
  outline: none !important;
} 

.hotels .modalform{
  max-height: max-content;
}

.hotels .hotelsCard{
  background: #F0F0F0;
}

.hotels .hotelsCard .card{
  border-radius: 14px;
}

.form-demo .card {
  min-width: 450px;
}

.connexion .p-inputtext,
.inscription .p-inputtext {
  border: none !important;
  border-bottom: 1px solid #474a4d !important;
  border-radius: 0 !important;
}

.connexion .p-inputtext:focus,
.inscription .p-inputtext:focus {
  outline: none !important;
  box-shadow: none !important;
}

.connexion .p-invalid:focus,
.inscription .p-invalid:focus {
  outline: none !important;
  box-shadow: none !important;
}

.connexion .p-password-input,
.inscription .p-password-input {
  border: none !important;
  border-radius: 0 !important;
  outline: none !important;
  border-bottom: 1px solid #474a4d !important;
}

.connexion .p-password-input:focus,
.inscription .p-password-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.connexion .form-footer h5,
.connexion .form-footer span,
.inscription .form-footer h5,
.inscription .form-footer span {
  color: #ffd964 !important;
  font-size: 18.667px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.connexion .form-footer,
.inscription .form-footer {
  color: #fff;
}

.form-demo .card form {
  margin-top: 2rem;
}
.form-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-demo .card .field {
  margin-bottom: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem 0;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

.card {
  margin-bottom: 2rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

.customer-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.customer-badge.status-qualified {
  background-color: #c8e6c9;
  color: #256029;
}

.customer-badge.status-unqualified {
  background-color: #ffcdd2;
  color: #c63737;
}

.customer-badge.status-negotiation {
  background-color: #feedaf;
  color: #8a5340;
}

.customer-badge.status-new {
  background-color: #b3e5fc;
  color: #23547b;
}

.customer-badge.status-renewal {
  background-color: #eccfff;
  color: #694382;
}

.customer-badge.status-proposal {
  background-color: #ffd8b2;
  color: #805b36;
}

.product-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.product-badge.status-instock {
  background: #c8e6c9;
  color: #256029;
}

.product-badge.status-outofstock {
  background: #ffcdd2;
  color: #c63737;
}

.product-badge.status-lowstock {
  background: #feedaf;
  color: #8a5340;
}

.order-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.order-badge.order-delivered {
  background: #c8e6c9;
  color: #256029;
}

.order-badge.order-cancelled {
  background: #ffcdd2;
  color: #c63737;
}

.order-badge.order-pending {
  background: #feedaf;
  color: #8a5340;
}

.order-badge.order-returned {
  background: #eccfff;
  color: #694382;
}

.image-text {
  vertical-align: middle;
  margin-left: 0.5rem;
}

.p-multiselect-representative-option {
  display: inline-block;
  vertical-align: middle;
}

.p-multiselect-representative-option img {
  vertical-align: middle;
  width: 24px;
}

.p-multiselect-representative-option span {
  margin-top: 0.125rem;
}

.p-column-filter {
  width: 100%;
}

.country-item {
  display: flex;
  align-items: center;
}

.country-item img.flag {
  width: 18px;
  margin-right: 0.5rem;
}

.flag {
  vertical-align: middle;
}

span.flag {
  width: 44px;
  height: 30px;
  display: inline-block;
}

img.flag {
  width: 30px;
}

@media screen and (max-width: 960px) {
  .form-demo .card {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-demo .card {
    width: 100%;
    min-width: 0;
  }
}

.App {
  text-align: center;
}

.sidebar {
  /* background-color: #282c34; */
  background-image: url("../src/assets/images/imagedefond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  z-index: 1000;
}

.sidebar a i {
  color: #fff;
}

.sidebar .linkSidebar a {
  background: transparent;
  color: #fff;
  border: none;
}

.linkSidebar .items:hover {
  cursor: pointer;
}

.sidebar .contentOnline{
  border-top: 1px solid #0CC2AA;
}


.sidebar .items i {
  font-size: 20px;
  font-weight: bold;
}

.sidebar .items:focus {
  background-color: #fff; 
  color: #000;
}

.linkSidebar {
  display: flex;
  flex-direction: column;
}

.contentNavbar {
  width: 100%;
}

.navbar {
  background: #ffffff;
  padding: 0 !important;
}

.css-dlwkee-MuiBadge-badge {
  background-color: #fcc100 !important;
}

.box-navabar {
  position: sticky !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: 1000 !important;
}

.no-hover:hover {
  background-color: transparent !important;
  color: inherit !important;
}

.onlineBtn {
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  background-color: #00ff92;
}

.dashboardCard{
  background: #F0F0F0;
}


.dashboard h6, .hotels .titleHotels h6 {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto";
  font-size: 40px;
  font-style: normal;
  font-weight: 100 !important;
  line-height: 35.195px; /* 110% */
}

.dashboard{
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;;
}

.hotels{
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
}

.hotels .titleHotels{
  background-color: #fff;
}

.dashboard .cards{
  border-radius: 14px;
}

.dashboard .titleDashboard{
  background-color: #fff;
}
.hotels .titleHotels .bouton{
  background-color: transparent;
  color: #0CC2AA;
  border-radius: 14px;
  border: 1px solid #0CC2AA;
}



#icon1 .icon{
  border-radius: 50%;
  color: white !important;
  background-color: #A88ADD;
}
#icon2 .icon{
  border-radius: 50%;
  color: white !important;
  background-color: #0CC2AA;
}
#icon3 .icon{
  border-radius: 50%;
  color: white !important;
  background-color: #FCC100;
}
#icon4 .icon{
  border-radius: 50%;
  color: white !important;
  background-color: #F90000;
}
#icon5 .icon{
  border-radius: 50%;
  color: white !important;
  background-color: #9C27B0;
}
#icon6 .icon{
  border-radius: 50%;
  color: white !important;
  background-color: #1565C0;
}

@media screen and (max-width: 768px) {
  .sidebar #logo span {
    font-size: 12px !important;
  }

  .sidebar #logo #imgLogo {
    font-size: 18px !important;
  }

  .sidebar {
    z-index: 1000 !important;
    position: relative;
  }

  .sidebar .linkSidebar .items span {
    font-size: 12px !important;
  }

  .template .contenu {
    flex-direction: column-reverse;
  }

  .template .contenu #sidebarDiv {
    width: 100% !important;
    height: 100px !important;
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000 !important;
  }

  .contentNavbar {
    z-index: 0 !important;
  }

  .template .contenu #sidebarDiv #logo,
  .template .contenu #sidebarDiv hr {
    display: none !important;
  }

  .template .contenu #sidebarDiv .sidebar .linkSidebar .items {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    height: 80% !important;
  }

  .template .contenu #sidebarDiv .sidebar .linkSidebar .items span {
    display: none;
  }

  .items i {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .items .bi::before {
    width: 100% !important;
    font-size: 35px !important;
    margin-left: 25%;
  }

  .template .contenu #sidebarDiv .sidebar {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    z-index: 1000 !important;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .template #sidebarDiv .linkSidebar {
    display: flex !important;
    flex-direction: row !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    padding-top: 5% !important;
  }
}

@media screen and (max-width: 500px) {
  #home .charts {
    display: flex;
    flex-direction: column;
  }
  .data {
    margin: 0 !important;
  }

  .contentNavbar {
    padding-bottom: 26% !important;
    z-index: 0 !important;
  }

  .template .contenu #sidebarDiv {
    width: 100% !important;
    height: 100px !important;
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .template .contenu #sidebarDiv .sidebar {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    z-index: 1000 !important;
  }

  #table {
    width: 400% !important;
    margin: 0 !important;
  }

  .tableau {
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
    margin: 0 !important;
    padding: 0 !important;
  }

  .connexion {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .template .contenu {
    display: flex;
    flex-direction: column-reverse;
  }

  .template .contenu #sidebarDiv {
    width: 100% !important;
  }

  .template .contenu #sidebarDiv #logo,
  .template .contenu #sidebarDiv hr {
    display: none !important;
  }

  .template .contenu #sidebarDiv .sidebar .linkSidebar .items {
    width: 20% !important;
  }

  .template .contenu #sidebarDiv .sidebar .linkSidebar {
    display: flex !important;
    justify-content: space-around !important;
  }
}
